# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

*.psd filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.tga filter=lfs diff=lfs merge=lfs -text
*.dds filter=lfs diff=lfs merge=lfs -text

# These files are regularly pushed by Paradox with Unix line endings.
# Enforce this for these files in our repo too, to ease WinMerge-ing.
common/buildings/00_city_buildings.txt text eol=lf
common/buildings/00_common_buildings.txt text eol=lf
common/buildings/00_duchy_capital_buildings.txt text eol=lf
common/buildings/00_special_buildings.txt text eol=lf
common/buildings/00_temple_buildings.txt text eol=lf
common/buildings/00_terrain_specific_buildings.txt text eol=lf
common/buildings/00_tribal_buildings.txt text eol=lf

common/casus_belli_types/00_civil_war.txt text eol=lf
common/casus_belli_types/00_invasion_war.txt text eol=lf
common/casus_belli_types/00_religious_war.txt text eol=lf
common/casus_belli_types/00_subjugation.txt text eol=lf

common/character_interactions/00_alliance.txt text eol=lf
common/character_interactions/00_debug_interactions.txt text eol=lf
common/character_interactions/00_dynast_interactions.txt text eol=lf
common/character_interactions/00_grant_titles_interaction.txt text eol=lf
common/character_interactions/00_house_head_interactions.txt text eol=lf
common/character_interactions/00_perk_interactions.txt text eol=lf
common/character_interactions/00_prison_interactions.txt text eol=lf
common/character_interactions/00_vassal_interactions.txt text eol=lf

common/council_positions/00_council_positions.txt text eol=lf
common/council_tasks/_council_tasks.info text eol=lf

common/court_types/00_court_types.txt text eol=lf
common/court_types/_court_types.info text eol=lf

common/customizable_localization/00_appropriate_generic_words.txt text eol=lf
common/customizable_localization/00_insult_custom_loc.txt text eol=lf
common/customizable_localization/00_maa_custom_loc.txt text eol=lf
common/customizable_localization/99_fr_custom_loc.txt text eol=lf

common/event_backgrounds/_event_backgrounds.info text eol=lf

common/important_actions/00_realm_actions.txt text eol=lf

common/laws/00_realm_laws.txt text eol=lf

common/modifiers/00_activity_pilgrimage_modifiers.txt text eol=lf

common/on_action/activities/pilgrimage_on_actions.txt text eol=lf
common/on_action/lifestyles/learning_lifestyle_on_actions.txt text eol=lf
common/on_action/lifestyles/martial_lifestyle_on_actions.txt text eol=lf
common/on_action/lifestyles/stewardship_lifestyle_on_actions.txt text eol=lf
common/on_action/schemes/murder_on_actions.txt text eol=lf
common/on_action/army_on_actions.txt text eol=lf
common/on_action/child_birth_on_actions.txt text eol=lf
common/on_action/death.txt text eol=lf
common/on_action/game_start.txt text eol=lf
common/on_action/prison_on_actions.txt text eol=lf
common/on_action/religion_on_actions.txt text eol=lf
common/on_action/title_on_actions.txt text eol=lf
common/on_action/war_on_actions.txt text eol=lf

common/script_values/00_activity_values.txt text eol=lf
common/script_values/00_basic_values.txt text eol=lf
common/script_values/00_faction_values.txt text eol=lf
common/script_values/00_interaction_values.txt text eol=lf
common/script_values/00_war_values.txt text eol=lf
common/script_values/01_dynamic_values.txt text eol=lf
common/script_values/02_religion_values.txt text eol=lf

common/scripted_character_templates/00_pool_repopulation_character_templates.txt text eol=lf

common/scripted_effects/00_adultery_effects.txt text eol=lf
common/scripted_effects/00_claim_throne_scheme_effects.txt text eol=lf
common/scripted_effects/00_decisions_effects.txt text eol=lf
common/scripted_effects/00_ep1_artifact_creation_effects.txt text eol=lf
common/scripted_effects/00_faction_effects.txt text eol=lf
common/scripted_effects/00_hunt_effects.txt text eol=lf
common/scripted_effects/00_learning_lifestyle_effects.txt text eol=lf
common/scripted_effects/00_murder_effects.txt text eol=lf
common/scripted_effects/00_murder_scheme_effects.txt text eol=lf
common/scripted_effects/00_prison_effects.txt text eol=lf
common/scripted_effects/00_seduction_effects.txt text eol=lf
common/scripted_effects/00_war_effects.txt text eol=lf

common/scripted_rules/00_rules.txt text eol=lf
common/scripted_triggers/00_interaction_triggers.txt text eol=lf
common/scripted_triggers/00_legal_triggers.txt text eol=lf
common/scripted_triggers/00_marriage_triggers.txt text eol=lf
common/scripted_triggers/00_religious_triggers.txt text eol=lf
common/scripted_triggers/00_war_and_peace_triggers.txt text eol=lf

common/suggestions/01_suggestions.txt text eol=lf

common/traits/00_traits.txt text eol=lf

events/activities/feast_activity/main_events/feast_default_events.txt text eol=lf
events/activities/hunt_activity/hunt_events.txt text eol=lf
events/activities/pay_homage_activity/pay_homage_events.txt text eol=lf
events/activities/pilgrimage_activity/pilgrimage_events.txt text eol=lf
events/councillor_task_events/councillor_spouse_events/councillor_spouse_diplomacy_events.txt text eol=lf
events/councillor_task_events/councillor_spouse_events/councillor_spouse_martial_events.txt text eol=lf
events/death_events/death_management_events.txt text eol=lf
events/education_and_childhood/coming_of_age_events.txt text eol=lf
events/government_events/tribal_events.txt text eol=lf
events/lifestyles/intrigue_lifestyle/intrigue_dread_events.txt text eol=lf
events/lifestyles/intrigue_lifestyle/intrigue_scheming_events.txt text eol=lf
events/lifestyles/intrigue_lifestyle/intrigue_temptation_events.txt text eol=lf
events/lifestyles/intrigue_lifestyle/intrigue_temptation_events_2.txt text eol=lf
events/lifestyles/scholarship_lifestyle/learning_scholarship_events.txt text eol=lf
events/lifestyles/warfare_lifestyle/martial_authority_events.txt text eol=lf
events/lifestyles/warfare_lifestyle/martial_authority_events_2.txt text eol=lf
events/lifestyles/warfare_lifestyle/martial_chivalry_events.txt text eol=lf
events/lifestyles/warfare_lifestyle/martial_strategy_events.txt text eol=lf
events/relations_events/adultery_events.txt text eol=lf
events/relations_events/friendship_events.txt text eol=lf
events/relations_events/rivalry_events.txt text eol=lf
events/religion_events/faith_creation_events.txt text eol=lf
events/scheme_events/befriend_scheme/befriend_scheme_outcome_events.txt text eol=lf
events/scheme_events/court_scheme/court_scheme_ongoing_events.txt text eol=lf
events/scheme_events/elope_scheme/elope_scheme_events.txt text eol=lf
events/scheme_events/seduce_scheme/seduce_ongoing_events.txt text eol=lf
events/scheme_events/seduce_scheme/seduce_scheme_outcome_events.txt text eol=lf
events/scheme_events/hostile_scheme_discovery_events.txt text eol=lf
events/scheme_events/intrigue_scheme_ongoing_events.txt text eol=lf
events/secret_events/secrets_events.txt text eol=lf
events/story_cycles/murders_at_court/story_cycle_murders_at_court_events.txt text eol=lf
events/story_cycles/peasant_affair/story_cycle_peasant_affair_events.txt text eol=lf
events/story_cycles/story_cycle_infidelity_confrontation_events.txt text eol=lf
events/story_cycles/story_cycle_pet_animal_events.txt text eol=lf
events/test_events/debug.txt text eol=lf
events/trait_specific_events/trait_specific_events.txt text eol=lf
events/trait_specific_events/trait_specific_ongoing_events.txt text eol=lf
events/war_events/combat_events.txt text eol=lf
events/yearly_events/yearly_events_2.txt text eol=lf
events/health_events.txt text eol=lf
events/pregnancy_events.txt text eol=lf
events/single_combat_events.txt text eol=lf